.grayed{
  opacity:0.3 ;
}
.browse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  
}

.browse-header {
  color: rgb(18, 26, 70);
  margin-bottom: 40px;
}
.reviewable-essays {
  width: 50%;
  margin: 0 20%;
  background-color: white;
  border-radius: 10px;
  padding: 1%;
  height: fit-content;
}

.essay {
  border: 1px solid rgb(216, 216, 216);
  border-radius: 10px;
  padding: 2%;
  margin: 2% 0;
}
.review-this-essay-btn {
  background-color: rgb(228, 228, 228);
  padding: 8px;
  margin: 2% 0;
  border: none;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: lighter;
  transform: 200ms;
}
.review-this-essay-btn:hover {
  background-color: rgb(192, 192, 192);
}
.essay-length-and-points {
  display: flex;
  justify-content: left;
  align-items: center;
}
.essay-length {
  width: fit-content;
  padding: 2px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 15px;
  color: white;
}
.essay-added-points {
  margin-left: 80%;
  font-size: 15px;
  color: rgb(65, 64, 64);
}
.essay-prompt {
  background-color: rgb(18, 26, 70);
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

@media only screen and (max-width: 1800px) {
  .browse-header {
    margin: 20px 0;
    font-size: 35px;
  }
  .reviewable-essays {
    margin: 0 10% !important;
    width: 80% !important;
  }
}
@media only screen and (max-width: 900px) {

  .review-this-essay-btn {
    font-size: 13px;
  }
  .essay-length {
    font-size: 14px;
  }
  .essay-added-points {
    font-size: 12px;
  }
}