.loading{
    background-color: rgb(208, 236, 245);
    color: rgb(107, 107, 107);
    text-align: center;
    position:fixed;
    top: 30%;
    width:100%;
    font-weight:bold;
    font-size: 150px;
}