.my-essays {
  margin: 0 20%;
  margin-bottom: 5%;
}
.my-essays > h2 {
  color: rgb(18, 26, 70);
  margin-bottom: 40px;
  text-align: center;
}
.essays-container {
  background-color: white;
  padding: 2%;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}
.single-essay {
  text-align: left !important;
  flex-basis: 26%;
  border-radius: 5px;
  border: 1px solid rgb(218, 218, 218);
  padding: 1%;
  margin: 2%;
  text-align: center;
}
.single-essay-prompt {
  font-weight: bold;
}
.my-essays-select {
  color: rgb(18, 26, 70);
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  margin: 2%;
}
.my-essays-select:hover {
  cursor: pointer;
}
.my-essays-select:focus {
  text-decoration: none;
}

@media only screen and (max-width: 1600px) {
  .my-essays {
    margin: 0 10%;
  }
  .my-essays > h2 {
    font-size: 30px;
    margin: 20px 0;
  }
  .single-essay {
    flex-basis: 40%;
    border-radius: 5px;
    padding: 2%;
  }
}

@media only screen and (max-width: 1000px) {
  .single-essay {
    flex-basis: 80%;
  }
}