.top-page {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 5%;
}
.top-page-img {
  padding-left: 10%;
  padding-right: 10%;
  width: 18vw;
}
.navbar{
  margin: 2% 15%;
  border-radius: 100px;
}


.navbar-btn {
  border: none;
  color: darkgray;
  font-weight: bold;
  font-size: 1.8vh;
  font-family: sans-serif;
  padding: 10px;
  margin-right: 30px;
  text-decoration: none;
  transform: 500ms;
}
.navbar-btn:hover {
  color: black;
}
.navbar-btn:focus {
  color: black;
}
.active {
  color: black;
}


@media only screen and (max-width: 989px) {
  .navbar {
    margin: 0;
    padding: 5%;
    border-radius: 0;

  }
}